/**************************
  Page Container
***************************/

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 10rem;
}


/**************************
  Search Tool
***************************/

#TextBoxID {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width was set to 100% */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin: 12px auto; /* Add some space below the input, originally set to bottom 12px */
    /* Remove default list styling */
    list-style-type: none;
    display: block;
}

#TextBoxID-container {
    margin-top: 50px;
}

#TextBoxID tr td {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#TextBoxID tr td:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

/**************************
  Table
***************************/

table {
    /*display: block;*/
    /*height: 800px;*/
    /*table-layout: fixed;*/
    /*width: 100%;*/
    /*overflow-y: scroll;*/
    /*overflow-x: auto;*/
    /*white-space: nowrap;*/
}

@media screen and (max-width: 599px) {
    .table {
        font-size: 10px;
    }
}

@media screen and (min-width: 600px) {
    .table {
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    .table {
        font-size: 14px;
        white-space: nowrap;
    }
}

@media screen and (min-width: 1200px) {
    .table {
        font-size: 16px;
    }
}

.dataTables_filter {
    float: right;
}

.table-bordered {
    border: 0 solid #404040;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #404040;
}

table.dataTable {
    background: rgba(205, 205, 205, .1);
}

/* Try this for setting table height and scroll */

/*tbody {*/
/*    display: block;*/
/*    height: 800px;*/
/*    overflow: auto;*/
/*    width: 100%;*/
/*}*/

/*thead {*/
/*    display: block;*/
/*}*/

/*thead tr, tbody tr {*/
/*    width: 100%;*/
/*    table-layout: fixed;*/
/*}*/

/**************************
  Table Mobile Styling
***************************/

/* Original set to 599px, try for large phones at 767px */
@media screen and (max-width: 767px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    .table td, .table th {
        padding: 0 0 0 50%;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        /*top: 6px;*/
        left: 5px;
        width: 40%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Label the data */
    td:nth-of-type(1):before { content: "ID"; }
    td:nth-of-type(2):before { content: "Gift Card Number"; }
    td:nth-of-type(3):before { content: "Account Status"; }
    td:nth-of-type(4):before { content: "Initial Balance"; }
    td:nth-of-type(5):before { content: "Remaining Balance"; }
    td:nth-of-type(6):before { content: "Store"; }
    td:nth-of-type(7):before { content: "Card Activation Date"; }
    td:nth-of-type(8):before { content: "Date Last Used"; }

}

/**************************
  Larry's Logo
***************************/

.logo {
    display: block;
    margin: 25px auto 5px;
}

/**************************
  Container
***************************/

.container {
    padding: 0;
}

@media screen and (max-width: 599px) {
    .container {
        /*padding: 5px 0;*/
        padding: 0 10px;
    }
}

/**************************
  Back To Top Button
***************************/

#top-btn {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    background: transparent;
    bottom: 40px;
    right: 40px;
    border: none;

    text-decoration: none;
    /*text-align: center;*/
    /*line-height: 40px;*/
    color: #db151b;
    font-size: 40px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    #top-btn {
        bottom: 30px;
        right: 30px;
    }
}

/**************************
  Buttons
***************************/

.buttons-container {
    margin: 0 auto;
    /*width: 600px;*/
    width: auto;
    padding-bottom: 20px;
    text-align: center;
}

button:hover {
    background-color: #d6d6d6;
    color: #ffffff;
}

/**************************
  Selected Row
***************************/

#gift-card-info.highlight {
    /*border: 2px solid blue;*/
    background-color: #000;
    color: #fff;
}

/**************************
  Form
***************************/

form {
    text-align: center;
}

.history-container {
    text-align: center;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,.05);
}

#history-form {
    text-align: center;
    margin-block-end: 1em;
}

.history-title {
    font-weight: 500;
    font-size: 1.25rem;
}

@media screen and (max-width: 599px){
    .history-title {
        font-size: 0.8rem;
    }

    pre {
        font-size: 50%;
    }
}

@media screen and (max-width: 767px){
    .history-title {
        font-size: 1rem;
    }

    pre {
        font-size: 65%;
    }
}

/**************************
  Form Mobile Styling
***************************/

/* Original set to 599px, try for large phones at 767px */
@media screen and (max-width: 767px) {
    /*input[name=init-bal], [name=rem-bal], [name=initial-up], [name=initial-new], [name=gift-card-number], [name=gift-card-history], [type=date], select {*/
    /*    display: block;*/
    /*    margin: auto;*/
    /*    width: 60%;*/
    /*}*/

    input#new-card-input, #gift-number-input,
    #initials-new, #todays-date-add,
    #selectedId, #rem-bal,
    #initials-update, #todays-date,
    #selectedGC, .store-select, select {
        display: block;
        margin: 0 auto 5px;
        width: 60%;
    }

    input[type=submit] {
        margin-top: 10px;
    }
}

input[type=text] {
    padding: 5px;
    width: 10%;
}

input[type=number] {
    padding: 5px;
    width: 22%;
}

input[type=date] {
    padding: 4px;
    width: 150px;
}

input[type=submit] {
    padding: 5px;
}

select {
    padding: 6px;
    /*width: 9%;*/
}

input[name=id] {
    width: 10%;
}

input[name=gift-card-number] {
    width: 25%;
}

input[name=gift-card-history] {
    width: 25%;
}

/**************************
  Remove Input Arrows
***************************/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/**************************
  Logo Size
***************************/

@media screen and (max-width: 600px) {
    img {
        max-width: 300px;
    }
}

/**************************
  Footer
***************************/

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
}